<%- include('../views/partials/header.ejs') %>
<div class='listings'>
<% for(let i = 0; i < listings.length; i++) { %>
<div class='listing'>
    <div id='imageDiv'>
        <img class='listingsImage' src='<%= listings[i].img %>'>
    </div>
    <p><%= listings[i].year %></p>
    <a href='al/edit/<%= listings[i]._id %>'><%= listings[i].make %></a>
    <a href='al/show/<%= listings[i]._id %>'><%= listings[i].model %></a>
    <p><%= listings[i].mileage %></p>
</div>
<% } %>
</div>
<%- include('../views/partials/footer.ejs') %>