<script src='../public/js/index.js' defer></script>
<%- include('../views/partials/header.ejs') %>
<div class='listingsPage'>
    <div class='filter'>
        <form action='al' method="GET">
            <div class='price'>
                <fieldset>
                    <p>Price</p>
                    <label for='priceMin'>Minimum</label>
                    <input type='number' name='priceMin' id='priceMin' value='0'>
                    <p>to</p> 
                    <label for='priceMin'>Maximum</label>
                    <input type='number' name='priceMax' id='priceMax' value='0'>
                </fieldset>
            </div>
            <div>
                <form>
                    <fieldset>
                        <label for='years'>Year</label>
                        <select id='years' onchange='generateMakeOptions()'>
                            <option value='none'>Select Year</option>
                        </select>
                        <label for='makes'>Make</label> 
                        <select id='makes' onchange='generateModelOptions()'>
                        </select>
                        <label for='models'>Model</label> 
                        <select id='models' onchange='myFunction()'>
                        </select>
                    </fieldset>
                </form>
            </div>
        </form>
    </div>
    <div class='listings'>
    <% for(let i = 0; i < listings.length; i++) { %>
    <div class='listing'>
        <div class='listingInfo'>
            <p><%= listings[i].year %> <%= listings[i].make %> <%= listings[i].model %></p>
        </div>
        <a href='al/show/<%= listings[i]._id %>'>
            <div id='imageDiv'>
                <img class='listingsImage' src='<%= listings[i].img %>'>
            </div>
        </a>
        <div class='listingInfo'>
            <p>Price: $<%= listings[i].price %></p>
            <p>Mileage: <%= listings[i].mileage %> mi</p>
        </div>
    </div>
    <% } %>
    </div>
</div>
<%- include('../views/partials/footer.ejs') %>

