<script src='../../public/js/show.js' defer EPAID='<%= auto.autoID %>'></script>
<%- include('../views/partials/header.ejs') %> 
<div class='showPage'>
    <div class='showImageDiv'>
        <img class='showImage' src='<%= auto.img %>' onerror="this.onerror=null; this.src='../../public/images/car-310650_1280.png'">
    </div>
    <div id='basicDesc'>
        <p><%= auto.year %> <%= auto.make %> <%= auto.model %> </p>
        <p>Price: $<%= auto.price %></p>
        <p>Mileage: <%= auto.mileage %> mi.</p>
        <p>EPA ID: <%= auto.autoID %></p>
    </div>
</div>
<div class='showPageINFO'>
    <div class='infoDiv'>
        <p class='pTitle'>Fuel</p>
        <p id='city'>No info</p>
        <p id='highway'>No info</p>
        <p id='combined'>No info</p>
        <p id='fuelType'>No info</p>
    </div>
    <div class='infoDiv'>
        <p class='pTitle'>Drive-train</p>
        <p id='cylinders'>No info</p>
        <p id='displace'>No info</p>
        <p id='gear'>No info</p>
        <p id='drive'>No info</p>
    </div>
    <div class='infoDiv'>
        <p class='pTitle'>Contact</p>
        <p>Poster: <%= auto.posterUserName %></p>
        <p>Email: <%= auto.posterEmail %></p>
        <p>Location: <%= auto.location %></p>
        <% if(logged) { %>
            <% if( auto.posterUserName === logged.username ) { %>
                <form action='../delete/<%= auto._id %>/?_method=DELETE' method='POST'>
                    <button>Delete</button>
                </form>
            <% } %>
        <% } %>
        <% if(logged) { %>
            <% if( auto.posterUserName === logged.username ) { %>
                <form action='../edit/<%= auto._id %>'>
                    <button>Edit</button>
                </form>
            <% } %>
        <% } %>
    </div>
</div>
    
<%- include('../views/partials/footer.ejs') %> 